body{
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0%;

}


h1{
    color: rgb(255, 3, 3);
    background-color: bisque;
    font-size: 32px;
    

}
.header{
    text-align: center;
    background-color: rgb(240, 240, 8);
    /* padding: 30px; */
    margin: 30px;
    /* border: 10px solid blue;
    border-radius: 30px; */
    width: 1000px;
    height: 450px;
    
    box-shadow: 2px 2px 1px gray;
    cursor: pointer;
    overflow:scroll ;
    opacity:1;
    /* display: inline; */
    





}
p{
    line-height:1.5;
}
ul{
    list-style:square;
}