*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    font-family: "MuseoModerno", sans-serif;
    list-style: none;
}
:root{
    --text-color:#1d1a39;
    --bg-color:#f5d7db;
    --main-color:#bd83b8;
    --second-color:#fff;
    --big-font:5.5rem;
    --p-font:1rem;

}
body{
    background-color: #f8e5e3;
}
header{
    position: fixed;
    z-index: 1000;
    display: flex;
    gap: 16px;
    margin: 20px;
    top: 0;
    right: 0;
    width: 100%;
    padding: 30px 170px ;
    justify-content: space-between;
   
    transition: all 0.5s ease;

}
.hero{
    margin-top: 100%;
    padding-top: 6.5rem;
}
.navlist {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    font-size: var(--p-font);
    font-weight: 800;
}
.navlist a{
    gap: 35px;
    font-size: 15px;
    color: #273550e3 ;
}
.navlist a.active{
    color: #Ffb14c;
    font-size: 1.2rem;
}
.navlist a:hover{
    color:#Ffb14c ;
    font-size: 1.2rem ;
    transition: all 0.5s ease;
}
.logo{
    margin-top: 0;
    font-size: 1.7rem;
    font-weight: 1000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #273550e3;
}
.logo i{
    font-size: 35px;
    color:#Ffb14c;
    margin-right: 10px;
    vertical-align: middle;
}
.logo i:hover{
    font-size: 2.8rem;
    transition: all 0.5s ease

}
.h-main{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.h-btn{
    padding: 8px 12px;
    font-size:1rem;
    font-weight: 500;
    color: #273550e3;
    border-radius: 3rem;
    background-color: #Ffb14c;
    transition: all 0.5s ease;
    display: inline-block;
    background-size: 70px 100px;
}
.h-btn:hover{
    background-color: #ffc374;
    transform: scale(1.2) translateY(10px);
    transition: 0.4s;
}
#darkmode{
    font-size: 33px;
    color: #273550e3;   
    vertical-align: middle;
    font-weight: 500;
    margin: 15px;
    transition: all 0.5s ease
}
#menu-icon{
    font-size: 40px;
    color: #1d1a39;
    margin-right: 10px;
    vertical-align: middle;
    margin-left: 15px;
    z-index: 10001;
    display: none;
}
section{
    padding: 0 12%;
}
.hero{
    margin-top:200px;
    position: relative;
    width:100% ;
    height: 100vh;
    display:flex ;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 1rem;
}
.hero-in{
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(100px, auto));
   align-items: center;
   text-align: center;
   gap:120px;
   
}


.hero-img{
    width: 75%;
    height: 75%;
    margin-left: 80px;
}
.hero-text{
    display: grid;
}
.hero-text h1{
    font-size: var(--big-font);
    color:#273550e3;
    line-height: 1.3;
}
.line{
    margin-top: 0;
    width: 330px;
    height: 6px;
    border-radius: 15px;
    background: #Ffb14c;
    
}
.hero-in .box-1{
    padding: 8px;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-left: 0;
    gap: 55px;
    height: 20rem;
}
.hero-in .box-1:hover{
    transform: scale(1.2) translateY(10px);
    transition: 0.4s;
}

.hero-in .box-2{
    padding: 8px;
    align-items: center;
    justify-content: center;
    margin: 30px;
    margin-left: 0;
    gap: 55px;
    height: 20rem;
}
.hero-in .box-2:hover{
    transform: scale(1.2) translateY(10px);
    transition: 0.4s;
    
}

 .hero-in .box-3{
     padding: 8px;
     align-items: center;
     justify-content: center;
     margin: 30px;
     margin-left: 0;
     gap: 55px;
     height: 20rem;}   
 .hero-in .box-3:hover{
     transform: scale(1.2) translateY(10px);
     transition: 0.3s;
    } 
    
.hero-text h4{
    font-size: 30px;
    color: #943d8d;
    margin-top: 8px 0 20px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 800;


}
.hero-text p{
    font-size: 1rem;
    font-weight: 550;
    padding:px 20px;
    line-height: 26px;
    max-width: 550px;
    margin-bottom: 3.5rem;
   
}
.hero-img{
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 250px;
}
.box-1{
    background-color: #ffffff;
    background-size: 0 250px;
    padding: 25px 40px;
    border-radius: 1rem;
    box-shadow: rgba(33,35,38,0.1)0px 10px -10px;
    transition: all ease 0.55s;
    cursor: pointer;
    width: 200px;
    height: 300px;
    gap: 100%;
}
.box-1 img{
    max-width: 100%;
    height: auto;

}

.box-1 h3{
    color: #273550e3;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 7px;
}
.box-1 h5{
    color: #273550e3;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing:4px ;
    color: #bd83b8;
}

.box-1 span{
    font-size: 20px;
    font-weight: 555;
    color: #d40202;
    background: #Ffb14c;
    margin-bottom: 3px;
    border-radius: 5px;
    width: 3rem;
}
.box-1 .bxbx-cart-alt{
    background: #bd83b8;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius:0 0.5rem 0 0.5rem  ;
}

.box-2{
    background-color: #ffffff;
    background-size: 0 250px;
    padding: 25px 40px;
    border-radius: 1rem;
    box-shadow: rgba(33,35,38,0.1)0px 10px -10px;
    transition: all ease 0.55s;
    cursor: pointer;
    width: 200px;
    height: 300px;
    gap: 100%;
}
.box-2 img{
    max-width: 100%;
    height: auto;

}

.box-2 h3{
    color: #273550e3;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 7px;
}
.box-2 h5{
    color: #273550e3;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing:4px ;
    color: #bd83b8;
}

.box-2 span{
    font-size: 20px;
    font-weight: 555;
    color: #d40202;
    background: #Ffb14c;
    margin-bottom: 3px;
    border-radius: 5px;
    width: 3rem;
}
.box-2.bxbx-cart-alt{
    background: #bd83b8;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius:0 0.5rem 0 0.5rem  ;
}
.box-3{
    background-color: #ffffff;
    background-size: 0 250px;
    padding: 25px 40px;
    border-radius: 1rem;
    box-shadow: rgba(33,35,38,0.1)0px 10px -10px;
    transition: all ease 0.55s;
    cursor: pointer;
    width: 200px;
    height: 300px;
    gap: 100%;
}
.box-3 img{
    max-width: 100%;
    height: auto;

}

.box-3 h3{
    color: #273550e3;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 7px;
}
.box-3 h5{
    color: #273550e3;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing:4px ;
    color: #bd83b8;
}

.box-3 span{
    font-size: 20px;
    font-weight: 555;
    color: #d40202;
    background: #Ffb14c;
    margin-bottom: 3px;
    border-radius: 5px;
    width: 3rem;
}
.box-3 .bxbx-cart-alt{
    background: #bd83b8;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    padding: 7px 10px;
    border-radius:0 0.5rem 0 0.5rem  ;
}
.down-arrow i{
    position: absolute;
    bottom: 3.5rem;
    font-size: 3.5rem;
    margin-left: 80%;
    padding: 80px;
    top:100%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    
}
.down-arrow i:hover{
    /* background-color: #ffc374; */
    transform: scale(1) translateY(10px);
    transition: 0.4s;
}
.bx-moon{
    color: #1d1a39;

}
@media (max-width:1470px) {
    .hero-img{
        height: 700px;
        width: 700px;
    }
    
}
@media (max-width:1400px) {
    :root{
        --big-font:5.5rem;
        --p-font:15px;
    }
    .box h3{
        font-size:20px;
        margin-bottom: 2px;

    }
    .hero-img{
        width: 600px;
        height: 600px;

    }
}
@media (max-width:1230px){
    .hero{
        grid-template-columns: 1fr;
        height: auto;

    }
    .hero-text{
        order: 2;
    }
}